---
description: Homepage des Netzwerks Junge Digital Humanities in Berlin und Brandenburg
title: "Veranstaltungen"
layout: default
---
<section class="events-page">
  <!--
  <header class="white-card">
    <img class="header-svg" src="{{ site.baseurl }}/assets/img/roystonlodge-Hex-Grid-for-Role-Playing-Game-Maps.svg" alt="hex grid background" aria-hidden="true">
    <h1 id="main-heading">Junge Digital Humanities in Berlin & Brandenburg</h1>
    <h2 id="sub-heading">Netzwerk für Early Career Researchers</h2>
    <br>
  </header>
  -->

  <h3>Kommende Veranstaltungen:</h3>
  {% assign upcoming-events = site.data.events.main_events | where_exp: "item", "item.date > site.time" %}
  {% for item in upcoming-events %}
    <div class="glass-card">
      <h4>{{ item.title }}</h4>
      <p><strong>Datum:</strong> {{ item.date | date: "%d.%m.%Y" }}</p>
      <p><strong>Ort:</strong> {{ item.location }}</p>
      <p>{{ item.registration_note }}</p>
      {% if item.link %}
      <p><a href="{{ item.link }}" target="_blank" rel="noopener">{%unless item.custom_link_label %}Weitere Informationen{% else %}{{item.custom_link_label}}{%endunless%}</a></p>
      {% endif %}
    </div>
  {% endfor %}

  <br><br>
  <h3>Vergangene Veranstaltungen:</h3>
  {% assign past-events = site.data.events.main_events | where_exp: "item", "item.date < site.time" | reverse %}
  {% for item in past-events %}
    <div class="glass-card grey-card">
      <h4>{{ item.title }}</h4>
      <p><strong>Datum:</strong> {{ item.date | date: "%d.%m.%Y" }}</p>
      <p><strong>Ort:</strong> {{ item.location }}</p>
      <p>{{ item.registration_note }}</p>
      {% if item.link %}
      <p><a href="{{ item.link }}" target="_blank" rel="noopener">Weitere Informationen</a></p>
      {% endif %}
    </div>
  {% endfor %}
</section>